{% extends 'base_layout.html' %}

{% block content %}
        <h1>Welcome to MLB duel</h1>
        <p>At MLB duel, baseball fans come together to create lineups and compete against other fans to get the most points. Are you a winner? Jump in to find out.</p>
        <!-- <form>
            <button onclick="location.href = '/login'">Login</button>
            <button onclick="location.href = '/register'">Register</button>
        </form> -->
        <a class="btn-primary" href="/login">Login</a>
        <a class="btn-primary" href="/register">Register</a>

{% endblock %}